@import "../variables.scss";

.categories {
  padding: 1rem 0 0.5rem;
  border-bottom: 1px solid $baseborderColor;
  .clear {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    background-color: rgb(45, 75, 204);
    font-size: 1.5rem;
    border-radius: 5px;
    height: 2.2rem;
    padding: 0 5px;
    border: 1px solid $baseborderColor;
    color: rgb(236, 236, 236);
    font-weight: 500;
    &:hover {
      background-color: rgb(36, 64, 187);
    }
    &:active {
      background-color: rgb(18, 38, 126);
    }
  }
  .category {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    background-color: $basebackgroundColor;
    font-size: 1.5rem;
    border-radius: 5px;
    height: 2.2rem;
    padding: 0 5px;
    border: 1px solid $baseborderColor;
    color: $baseColor;
    font-weight: 500;
    &:hover {
      background-color: rgb(236, 236, 236);
    }
    &:active {
      background-color: rgb(218, 218, 218);
    }

    &Selected {
      border: 1px solid rgb(2, 51, 6);
      background-color: rgba(43, 255, 0, 0.842);
      color: rgb(2, 51, 6);
      &:hover {
        background-color: rgba(35, 207, 0, 0.842);
      }
      &:active {
        background-color: rgba(26, 155, 0, 0.842);
      }
    }
  }
}
